<div class="entity">
    <!-- TODO: make 1 component -->
    <svg-list *ngIf="state.isFile"></svg-list>

    <svg-folder *ngIf="!state.opened && state.opened && !state.empty"></svg-folder>
    <svg-opened-folder *ngIf="state.isFolder && state.opened && !state.empty"></svg-opened-folder>

   <!-- {{ state.isFolder}} && {{state.empty}} && {{state.opened}} -->
    <svg-empty-folder *ngIf="state.isFolder && state.empty && !state.opened"></svg-empty-folder>
    <svg-empty-opened-folder *ngIf="state.isFolder && state.empty && state.opened"></svg-empty-opened-folder>
    <b>{{entity.name}}</b>
</div>