form {
    max-width: 300px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px 20px 25px;
    .radio-group {
        display: flex;
        label {
            margin-right: 15px;
        }
    }
}

h3 {
    margin: 5px 0;
}

:host {
    position: absolute;
    right: 0;
    top: 0;
}